html, body, h1, h2, h3 {
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

html, body {
	height: 100%;
	font-size: 13px;
}

a {
	color: #006699;
}

h3 {
	font-size: 15px;
	margin: 0
}

input[type=text]{
	width: 300px;
}

#map-canvas {
	height: 100%
}

td #map-canvas {
	height: 300px;
}

#legenda {
	padding: 10px;
	width: 155px;
}

#logo {
	margin-bottom: 10px;
}

#propagace {
	text-align: center;
}

#content {
	max-width: 800px;
	margin: 0 auto 0 auto;
}

.error {
	color: red;
}

@media (min-width: 640px) {
	#legenda {
		float:right;
	}
}

