html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

h1 {
	margin: 5px 0 0 10px;
	padding: 0;
}

#podnadpis {
	margin: 0 0 5px 10px;
	padding: 0;
}

#map-canvas {
	height: 100%
}

#legenda {
	padding: 10px;
}

@media (min-width: 640px) {
	#legenda {
		float:right;
	}
}

