html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#map-canvas {
	height: 100%
}

#legenda {
	float:right;
	padding: 10px;
}
